@page
@model AT.Pages.Cidades.VerCidadesModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2>Lista de Cidades</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Habitantes</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Cidades == null || !Model.Cidades.Any())
        {
            <tr><td colspan="5">Ainda não temos cidades cadastradas</td></tr>
        }
        else
        {
            @foreach (var cidade in Model.Cidades)
            {
                <tr>
                    <td>@cidade.CidadeID</td>
                    <td>@cidade.Nome</td>
                    <td>@cidade.Descricao</td>
                    <td>@cidade.NumHabitantes</td>
                    <td>
                        <a asp-page="/Cidades/EditarCidades" asp-route-id="@cidade.CidadeID" class="btn btn-sm btn-primary">Editar</a>

                        <form method="post" asp-page-handler="Excluir" style="display:inline;">
                            <input type="hidden" name="id" value="@cidade.CidadeID" />
                            <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
